<div style="text-align: right;">
    <button type="button" class="btn btn-primary mt-4 mb-4" style="margin-right: 2rem;" data-bs-toggle="modal"
        data-bs-target="#LeaveModal">
        Apply Leave
    </button>
</div>


<div class="modal fade" id="LeaveModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-white" id="exampleModalLabel">Leave Management</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <form [formGroup]="applyOnLeave" (ngSubmit)="applyLeave(applyOnLeave.value)">
                            <div class="mb-3">
                                <label class="form-label">Duration</label>
                                <select (change)="changeDuration($event)" class="form-select"
                                    aria-label="Default select example" formControlName="Duration">
                                    <option disabled selected value> -- select an option -- </option>
                                    <option value="Day">Day</option>
                                    <option value="HalfDay">HalfDay</option>
                                    <option value="Timing">Timing</option>
                                </select>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <div class="mb-3">
                                        <label class="form-label">Start Date</label>
                                        <input type="date" class="forSelectMenu form-control"
                                            formControlName="startDate">
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="mb-3">
                                        <label class="form-label">End Date</label>
                                        <input type="date" class="forSelectMenu form-control" formControlName="endDate">
                                    </div>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Leave Type</label>
                                <select class="form-select" formControlName="leaveType"
                                    aria-label="Default select example">
                                    <option disabled selected value> -- select an option -- </option>
                                    <option value="Sick Leave">Sick Leave</option>
                                    <option value="Casual Leave">Casual Leave</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Reason</label>
                                <textarea type="text" class="form-control" formControlName="reason"></textarea>
                            </div>
                            <div class="mb-3 d-flex align-items-center justify-content-end">
                                <button #closeModal class="btn btn-secondary mx-3"
                                    data-bs-dismiss="modal">Close</button>
                                <button class="btn btn-danger" type="submit"> Apply</button>
                            </div>
                            <!-- <div class="modal-footer">
                                <button type="submit" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button class="btn btn-danger" type="submit"> Apply</button>
                            </div> -->
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<section>
    <div class="container-fluid" *ngIf="isShow">
        <h5 class="mt-5 mb-5">Leave Management</h5>
        <div class="row">
            <div class="col-6">
                <form [formGroup]="applyOnLeave" (ngSubmit)="applyLeave(applyOnLeave.value)">
                    <div class="row">
                        <div class="col-6">
                            <div class="mb-3">
                                <label class="form-label">Start Date</label>
                                <input type="date" class="form-control" formControlName="startDate">
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="mb-3">
                                <label class="form-label">End Date</label>
                                <input type="date" class="form-control" formControlName="endDate">
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Leave Type</label>
                        <input type="text" class="form-control" formControlName="leaveType">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Reason</label>
                        <textarea type="text" class="form-control" formControlName="reason"></textarea>
                    </div>
                    <div class="mb-3">
                        <button class="btn btn-danger" type="submit"> Apply</button>
                    </div>
                </form>
            </div>
            <div class="col-6">
            </div>
        </div>
    </div>
</section>

<section class="px-4">
    <table class="table">
        <thead style="text-align: center;">
            <tr class="thead">
                <th scope="col">Name</th>
                <th scope="col">Desigination</th>
                <th scope="col">Start Date</th>
                <th scope="col">End Date</th>
                <th scope="col">No Of Days</th>
                <th scope="col">LeaveType</th>
                <th scope="col">AppliedOn</th>
                <th scope="col">ApprovalStatus</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of leaveDetails" (click)="getLeaveDetail(data)" style="text-align: center;">
                <td class="col-md-2">{{data.firstName}}&nbsp;&nbsp;{{data.lastName}}</td>
                <td class="col-md-2"> {{data.designation}}</td>
                <td class="col-md-2">{{data.startDate | date:'MMM d, y, h:mm a' }}</td>
                <td class="col-md-2">{{data.endDate | date:'MMM d, y, h:mm a' }}</td>
                <td class="col-md-1">{{data.noOfDays}}</td>
                <td class="col-md-1">{{data.leaveType}}</td>
                <td class="col-md-2">{{data.appliedOn | date:'MMM d, y'}}</td>
                <td class="col-md-2"><span
                        [ngClass]="{'redBadge': data.approvalStatus === 'Rejected', 'orangeBadge': data.approvalStatus === 'Pending' }"
                        class="badge">{{data.approvalStatus}}</span></td>
            </tr>
        </tbody>
    </table>
</section>
<section>
    <div class="modal" [style.display]="showModal ? 'block' : 'none'">
        <div class="modal-dialog">
            <div class="modal-content" [formGroup]="updateLeaveForm">
                <div class="modal-header">
                    <h6 class="modal-title text-white">LEAVE DETAILS</h6>
                    <button type="button" class="btn-close closebutton" (click)="showModal=false"></button>
                </div>

                <div class="modal-body scrollbar" id="style-1" style="padding: 2rem;">
                    <div class="row modalbody">
                        <div class="mb-3" style="display: none;">
                            <label class=" form-label">Start Date</label>
                            <input class="form-control" [ngModel]="employeeLeaveDetails?.employeeId"
                                formControlName="employeeId">
                        </div>
                        <div class="mb-3" style="display: none;">
                            <label class=" form-label">Start Date</label>
                            <input class="form-control" [ngModel]="employeeLeaveDetails?.leaveId"
                                formControlName="leaveId">
                        </div>
                        <div class="mb-3">
                            <label class=" form-label">Name</label>
                            <input class="form-control" [ngModel]="employeeLeaveDetails?.firstName"
                                formControlName="firstName">
                        </div>
                        <div class="mb-3">
                            <label class=" form-label">Desigination</label>
                            <input class="form-control" [ngModel]="employeeLeaveDetails?.designation"
                                formControlName="designation">
                        </div>
                        <div class="mb-3">
                            <label class=" form-label">Applied On</label>
                            <input class="form-control" [ngModel]="employeeLeaveDetails?.appliedOn"
                                formControlName="appliedOn">
                        </div>
                        <div class="mb-3">
                            <label class=" form-label">Start Date</label>
                            <input class="form-control" [ngModel]="employeeLeaveDetails?.startDate"
                                formControlName="startDate">
                        </div>
                        <div class="mb-3">
                            <label class=" form-label">End Date</label>
                            <input class="form-control" [ngModel]="employeeLeaveDetails?.endDate"
                                formControlName="endDate">
                        </div>
                        <div class="mb-3">
                            <label class=" form-label">No of Days</label>
                            <input class="form-control" [ngModel]="employeeLeaveDetails?.noOfDays"
                                formControlName="noOfDays">
                        </div>
                        <div class="mb-3">
                            <label class=" form-label">Leave Type</label>
                            <input class="form-control" [ngModel]="employeeLeaveDetails?.leaveType"
                                formControlName="leaveType">
                        </div>
                        <div class="mb-3">
                            <label class=" form-label">Reason</label>
                            <textarea class="form-control" [ngModel]="employeeLeaveDetails?.reason"
                                formControlName="reason">
                                </textarea>
                        </div>

                        <div class="mb-3">
                            <label class=" form-label">Status</label>
                            <select class="form-select" class="form-control"
                                [ngModel]="employeeLeaveDetails?.approvalStatus" formControlName="approvalStatus">
                                <!-- <option disabled selected value> -- select an option -- </option> -->
                                <option value="Pending">Pending</option>

                                <option value="Apporved">Apporved</option>
                                <option value="Rejected">Rejected</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <button class="btn btn-primary" style="float: right;" type="submit"
                                (click)="updateLeaveDetails(updateLeaveForm.value)"> Submitted</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>