<section id="login" class="login d-flex align-items-center">
  <div class="container bg-light">
    <div class="row p-5 g-5">
      <div class="col-md-4 order-1">
        <h3 class="mb-5">Login</h3>
        <form [formGroup]="dologin" (ngSubmit)="onSubmitt(dologin.value)">
          <div class="mb-3">
            <label class="form-label">Email address</label>
            <input type="email" class="form-control" formControlName="mailId">
          </div>
          <div class="mb-3">
            <label class="form-label">Password</label>
            <input type="password" class="form-control" formControlName="password">
          </div>
          <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Remember me</label>
          </div>
          <button type="submit" class="btn btn-primary mb-3">Submit</button>
          <p style="font-size: 12px;">Don't I have an account you? <a (click)="onClick()"> <u>Sign Up</u></a></p>
        </form>
      </div>
      <div class="col-md-8">
        <img src="../assets/login.jpg" class="imgprop w-100 h-100" alt="">
      </div>
    </div>
  </div>

</section>