<div id="sideNav" class="sideNav">
    <div [style.display]="isNavOpen ? 'none': 'block'" class="imageBox">
        <div class="d-flex align-items-center justify-content-center">
            <div>
                <img src="../assets/bg-1.png" class="margin-auto h-100" width="60px" alt="">
                <div class="d-flex pt-3 align-items-center justify-content-center">
                    <!-- <h6 class="text-dark">{{ loggerName }}<br /><span
                            style="font-weight: 400; margin-top: 1rem; font-size: 14px;">{{loggerRole}}</span>
                    </h6> -->
                    <h6 style="text-align: center; padding:0.5rem">{{ loggerName }} <br />
                        {{ loggerRole }}</h6>

                </div>
            </div>

        </div>
    </div>
    <div class="likeUl">
        <ul [ngClass]="isNavOpen ? '':'menuList'">
            <li class="cursorP bg-select" [ngClass]="{'active': step==='step1'}"
                (click)="step='step1' ; shortNav('/user/addUser')"><i class="fa-solid fa-house"></i>
                <p [ngClass]="isNavOpen ? 'none': 'show'">Home</p>
                
            </li>
            <li class="cursorP" [ngClass]="{'active': step==='step2'}" data-bs-toggle="collapse" href="#collapseExample"
                role="button" aria-expanded="false" aria-controls="collapseExample" (click)="step='step2'"
                (click)="isNavOpen ? shortNav('/Employee'): 'none'">
                <i class="fa-solid fa-user-gear"></i>
                <p [ngClass]="isNavOpen ? 'none': 'show'">Employee</p>
            </li>
            <div class="collapse" id="collapseExample">
                <ul [ngClass]="isNavOpen ? 'none': 'show'">
                    <li class="cursorP" [ngClass]="{'active': step==='step5'}"
                        (click)="step='step5' ; shortNav('addUser')">
                        <i data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false"
                            aria-controls="collapseExample" class="fa-solid fa-user-gear"></i>
                        <p [ngClass]="isNavOpen ? 'none': 'show'">Add User</p>
                    </li>
                    <li class="cursorP" [ngClass]="{'active': step==='step6'}"
                        (click)="step='step6' ; shortNav('/Employee/addEmployee')">
                        <i data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false"
                            aria-controls="collapseExample" class="fa-solid fa-user-gear"></i>
                        <p [ngClass]="isNavOpen ? 'none': 'show'">Add Employee</p>
                    </li>
                </ul>
            </div>
            <li [ngClass]="{'active': step==='step3'}" (click)="step='step3' ; shortNav('/attendance')" class="cursorP">
                <i class="fa-solid fa-display"></i>
                <p [ngClass]="isNavOpen ? 'none': 'show'">Attendance</p>
            </li>
            <li [ngClass]="{'active': step==='step4'}" (click)="step='step4' ; shortNav('/leave')" class="cursorP">
                <i class="fa-solid fa-sheet-plastic"></i>
                <p [ngClass]="isNavOpen ? 'none': 'show'">Leave</p>
            </li>
        </ul>
    </div>
</div>

<main id="main">
    <nav class="navbar navbar-dark">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" (click)="openNav()">
                <i class="fa-solid fa-bars text-dark"></i>
            </button>
            <div class="d-flex align-items-center">
                <p class="m-0">{{ loggerName }}</p>
                <a class="navbar-brand" href="#">
                    <!-- <img src="../assets/bg-1.png" alt="" height="35px" class="w-100 d-inline-block align-text-top"> -->
                    <ngx-avatar [name]="loggerName" src="../../assets/bg2.png"></ngx-avatar>
                </a>
            </div>
        </div>
    </nav>
    <router-outlet></router-outlet>
</main>