<div id="sideNav" class="sideNav">
    <div [style.display]="isNavOpen ? 'none': 'block'" class="imageBox">
        <div class="d-flex align-items-center justify-content-center">
            <div>
                <ngx-avatar name="salman khan" class="margin-auto dflex" size="80" [style]="customStyle"></ngx-avatar>
                <!-- [src]="'https://localhost:44394/'+ forNav[0].photoPath" -->
                <div class="d-flex pt-3 align-items-center justify-content-center">
                    <h6 style="text-align: center; padding:0.5rem">{{ loggerName }} <br />
                        {{ loggerRole }}</h6>
                </div>
            </div>
        </div>
    </div>
    <div class="likeUl">
        <ul [ngClass]="isNavOpen ? '':'menuList'">
            <li class="cursorP bg-select" [ngClass]="{'active': step==='step1'}"
                (click)="step='step1' ; shortNav('/Employee')"><i class="fa-solid fa-house"></i>
                <p [ngClass]="isNavOpen ? 'none': 'show'">About</p>
            </li>
            <li class="cursorP" [ngClass]="{'active': step==='step2'}" data-bs-toggle="collapse" href="#collapseExample"
                role="button" aria-expanded="false" aria-controls="collapseExample" (click)="step='step2'"
                (click)="isNavOpen ? shortNav('/Employee'): 'none'">
                <i class="fa-solid fa-user-gear"></i>
                <p [ngClass]="isNavOpen ? 'none': 'show'">Employee</p>
            </li>
            <div class="collapse" id="collapseExample">
                <ul [ngClass]="isNavOpen ? 'none': 'show'">
                    <!-- <li class="cursorP" [ngClass]="{'active': step==='step5'}"
                        (click)="step='step5' ; shortNav('addUser')">
                        <i data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false"
                            aria-controls="collapseExample" class="fa-solid fa-user-plus"></i>
                        <p [ngClass]="isNavOpen ? 'none': 'show'">Add User</p>
                    </li> -->
                    <li class="cursorP" [ngClass]="{'active': step==='step6'}"
                        (click)="step='step6' ; shortNav('main/Employee/addEmployee')">
                        <i data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false"
                            aria-controls="collapseExample" class="fa-solid fa-user-gear"></i>
                        <p [ngClass]="isNavOpen ? 'none': 'show'">Add Employee</p>
                    </li>
                </ul>
            </div>
            <!-- <li [ngClass]="{'active': step==='step3'}" (click)="step='step3' ; shortNav('/attendance')" class="cursorP">
                <i class="fa-solid fa-display"></i>
                <p [ngClass]="isNavOpen ? 'none': 'show'">Attendance</p>
            </li> -->
            <li [ngClass]="{'active': step==='step4'}" (click)="step='step4' ; shortNav('/leave')" class="cursorP">
                <i class="fa-solid fa-person-walking-luggage"></i>
                <p [ngClass]="isNavOpen ? 'none': 'show'">Leave</p>
            </li>
            <li [ngClass]="{'active': step==='step5'}" (click)="step='step5' ; shortNav('/projectDetails')"
                class="cursorP">
                <i class="fa-solid fa-sheet-plastic"></i>
                <p [ngClass]="isNavOpen ? 'none': 'show'">Project</p>
            </li>
            <li class="cursorP" [ngClass]="{'active': step==='step6'}" (click)="step='step6' ; shortNav('/list')">
                <i data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false"
                    aria-controls="collapseExample" class="fa-solid fa-laptop-file"></i>
                <p [ngClass]="isNavOpen ? 'none': 'show'">ProjectDetails</p>
            </li>
        </ul>
    </div>
</div>

<main id="main">
    <nav class="navbar navbar-dark">
        <div class="container-fluid" style="height: 4rem;">
            <button class="navbar-toggler" type="button" (click)="openNav()">
                <i class="fa-solid fa-bars text-dark"></i>
            </button>
            <div class="d-flex align-items-center">
                <p class="m-0">{{ loggerName }}</p>
                <a class="navbar-brand" href="#">
                    <ngx-avatar [name]="loggerName" [style]="customStyle"></ngx-avatar>
                </a>
            </div>
        </div>
    </nav>
    <router-outlet></router-outlet>
</main>