<div class="container">
    <section>
        <div class="row mt-5">
            <div class="col-md-3">
                <label class="form-label">From</label>
                <input type="date" class="forSelectMenu form-control" [(ngModel)]="from">
            </div>
            <div class="col-md-3">
                <label class="form-label">To</label>
                <input type="date" class="forSelectMenu form-control" [(ngModel)]="to">
            </div>
            <div class="col-md-3">
                <label class=" form-label">Employee</label>
                <select class="form-select" class="forSelectMenu form-control" [(ngModel)]="user">
                    <option selected>All Employee</option>
                    <option *ngFor="let item of employeName" [value]="item.employeeId">{{item.firstName}}
                        {{item.lastName}}</option>
                </select>
            </div>
            <div class="col-md-3">
                <button type="button" class="btn btn-primary Filter-btn" (click)="LeaveFilter()">Filter</button>
            </div>
        </div>
        <section class="Attendance">
            <h3>Attendance Details</h3>
            <div class="table-responsive">
                <table class="table">
                    <thead class="text-center text-dark">
                        <tr class="thead">
                            <th>S.No</th>
                            <th>Name</th>
                            <th>Date</th>
                            <th>InTime</th>
                            <th>OutTime</th>
                            <th>Duration</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngIf="filterAttendanceDetails?.length == 0" class="text-center">
                            <td colspan="100%">No Data Found</td>
                        </tr>
                        <tr *ngFor="let data of filterAttendanceDetails;let i=index;" class="text-center">
                            <td>{{ i + 1 }}</td>
                            <td>{{data.firstName}}{{data.lastName}}</td>
                            <td>{{data.date |date:'yyyy-MM-dd' }}</td>
                            <td>{{data.inTime |date:'HH:mm'}}</td>
                            <td>{{data.outTime|date:'HH:mm'}}</td>
                            <td>{{data.workDuration}}</td>
                            <td><span class="badge">{{data.status}}</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
        <section class="leave">
            <h3>Leave Details</h3>
            <div class="table-responsive">
                <table class="table">
                    <thead class="text-center">
                        <tr class="thead">
                            <th>S.No</th>
                            <th>Name</th>
                            <th>Leave Type</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th>Duration</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngIf="filterLeaveDetails?.length == 0" class="text-center">
                            <td colspan="100%">No Data Found</td>
                        </tr>
                        <tr *ngFor="let data of filterLeaveDetails;let i=index;" class="text-center">
                            <td>{{ i + 1 }}</td>
                            <td>{{data.firstName}}{{data.lastName}}</td>
                            <td>{{data.leaveDay}}</td>
                            <td>{{data.startDate |date:'yyyy-MM-dd' }}</td>
                            <td>{{data.endDate |date:'yyyy-MM-dd' }}</td>
                            <td>{{data.noOfDays}}</td>
                            <td><span
                                    [ngClass]="{'redBadge': data.leaveType === 'Sick Leave', 'orangeBadge': data.leaveType === 'Casual Leave' }"
                                    class="badge"> {{data.leaveType}} </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
    </section>
</div>