.attendance-ul {
  list-style: none;
  padding: 8px;
  border: 1px;
}

.attendance-li {
  padding: 8px;
  border: 1px;
}

table {
  width: 100%;
}
th {
  color: #54525b;
  background-color: #e9eef5;
  vertical-align: middle;
}

table th:first-child {
  border-radius: 18px 0 0 0;
}

table th:last-child {
  border-radius: 0 18px 0 0;
}

tr {
  height: 60px;
}

td {
  color: rgba(0, 0, 0, 0.8);
}

tbody {
  vertical-align: middle;
}

.addattendance {
  padding: 2rem;
}
