<section class="px-4 mt-5">
    <h3 class="text-center mb-4">Attendance</h3>
    <table class="table">
        <thead class="text-center text-dark">
            <tr class="thead">
                <th scope="col">Name</th>
                <th scope="col">Desigination</th>
                <th scope="col">Start Date</th>
                <th scope="col">End Date</th>
                <th scope="col">AppliedOn</th>
                <th scope="col">ApprovalStatus</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngIf="attendanceDetails?.length == 0" class="text-center">
                <td colspan="100%">No Data Found</td>
            </tr>
            <tr *ngFor="let data of attendanceDetails" style="text-align: center;">
                <td class="col-md-2">{{data.firstName}}&nbsp;&nbsp;{{data.lastName}}</td>
                <td class="col-md-2"> {{data.designation}}</td>
                <td class="col-md-2">{{data.inTime |date:'yyyy-MM-dd' }}</td>
                <td class="col-md-2">{{data.outTime |date:'yyyy-MM-dd' }}</td>
                <!-- <td class="col-md-1">{{data.noOfDays}}</td> -->
                <!-- <td class="col-md-1">{{data.leaveType}}</td> -->
                <td class="col-md-2">{{data.workDuration}}</td>
                <td class="col-md-2"><span class="badge">{{data.status}}</span></td>
                <!-- <td class="col-md-2"><span
                        [ngClass]="{'redBadge': data.finalApproval === 'Rejected', 'orangeBadge': data.finalApproval === 'Pending' }"
                        class="badge">{{data.finalApproval}}</span></td> -->
            </tr>
        </tbody>
    </table>
</section>
