


<div class="container mt-5 row">
    <div class="col-1">
        <span class="badge rounded-pill text-bg-primary" (click)="getProjectDetails('xml')">XML</span>
    </div>
    <div class="col-1">
        <span class="badge rounded-pill text-bg-primary" (click)="getProjectDetails('E-pup')">E - Pub</span>
    </div>
    <div class="col-1">
        <span class="badge rounded-pill text-bg-primary" (click)="getProjectDetails('Table')">Table</span>
    </div>
    <div class="col-1">
        <span class="badge rounded-pill text-bg-primary" (click)="getProjectDetails('software')">Software</span>
    </div>
</div>

<!-- 
<div class="container">
    <div class="row mt-5">
        <div class="col-3" *ngIf="isXml">
            <div class="card text-bg-dark mb-3" style="max-width: 15rem;" (click)="getProjectDetails('xml')">
                <div class="card-body">
                    <h5 class="card-title">XML</h5>
                </div>
            </div>
        </div>
        <div class="col-3" *ngIf="isSoftware">
            <div class="card text-bg-dark mb-3" style="max-width: 15rem;" (click)="getProjectDetails('software')">
                <div class="card-body">
                    <h5 class="card-title">SoftWare</h5>
                </div>
            </div>
        </div>
        <div class="col-3" *ngIf="isEpub">
            <div class="card text-bg-dark mb-3" style="max-width: 15rem;" (click)="getProjectDetails('E-Pup')">
                <div class="card-body">
                    <h5 class="card-title">E-Pup</h5>
                </div>
            </div>
        </div>
        <div class="col-3" *ngIf="isTable">
            <div class="card text-bg-dark mb-3" style="max-width: 15rem;" (click)="getProjectDetails('Table')">
                <div class="card-body">
                    <h5 class="card-title">Table</h5>
                </div>
            </div>
        </div>
    </div>
</div> -->


<div class="container row" *ngIf="isOpen">
    <div class="col-4">
        <div class="row mt-5">
            <div class="col-12" *ngFor="let data of ProjectDetails">
                <!-- <h1 >{{data.projectTitle}}</h1> -->
                <div class="card mb-3">
                    <!-- <div class=""><b>{{data.projectName}}</b> TEAM</div> -->
                    <div class="card-body">
                        <p class="card-text"><small class="text-muted"><b>{{data.projectName}}</b> TEAM</small></p>

                        <h6><b>{{data.projectTitle}}</b></h6>
                        <div class="row mt-3">
                            <div class="col-8">
                                <p class="card-text"><small class="text-muted">Created By <b>{{data.createdBy}}</b>
                                        <br /> Created On <b>{{data.startDate | date:'dd MMM YYYY'}}</b></small></p>
                            </div>
                            <div class="col-3 mt-3">
                                <p><span class="badge text-bg-primary">{{data.projectStatus}}</span></p>
                            </div>
                        </div>
                        <p class="card-text"><small class="text-muted">{{data.projectDescription}}</small></p>
                        <!-- <p>{{data.projectStatus}}</p> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="row mt-5">
            <div class="col" *ngFor="let data of teamMembers">
                <div class="card mb-3">
                    <!-- <div class=""><b>{{data.projectName}}</b> TEAM</div> -->
                    <div class="card-body">
                        <p class="card-text"><small class="text-muted"><b>{{data.firstName}}</b></small></p>
                    </div>
                </div>
                <!-- <div>
                    <div class="card border-secondary">
                        <div class="card-header text-secondary">{{data.firstName}}</div>
                        <div class="card-body">
                            <h5 class="card-title">{{data.firstName}}</h5>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="row mt-5">
            <div class="col-12" *ngFor="let data of taskDetails">
                <div>
                    <div class="card border-secondary mb-3">
                        <div class="card-header text-secondary">{{data.firstName}}</div>
                        <div class="card-body">
                            <h5 class="card-title">{{data.taskName}}</h5>
                            <p>{{data.taskDescription}}</p>

                            <p><span [ngClass]="{'redBadge': data.position === 'TeamLeader', 'orangeBadge': data.position === 'TeamMember' }"
                                    class="badge">{{data.position}}</span> </p>
                            <p><span [ngClass]="{'redBadge': data.taskStatus=== 'Rejected', 'orangeBadge': data.taskStatus === 'Pending' }"
                                    class="badge">{{data.taskStatus}}</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<!-- <div class="container mt-5" *ngIf="isOpen">

    <div class="row">
        <div class="col" *ngFor="let data of ProjectDetails">
            <div class="card border-secondary mb-3">
                <div class="card-header text-secondary">{{data.projectTitle}}</div>
                <div class="card-body">
                    <h5 class="card-title">{{data.projectDescription}}</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col" *ngFor="let data of teamMembers">
            <div>
                <div class="card border-secondary mb-3">
                    <div class="card-header text-secondary">{{data.firstName}}</div>
                    <div class="card-body">
                        <h5 class="card-title">{{data.teamName}}</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col" *ngFor="let data of taskDetails">
            <div>
                <div class="card border-secondary mb-3">
                    <div class="card-header text-secondary">{{data.firstName}}</div>
                    <div class="card-body">
                        <h5 class="card-title">{{data.taskName}}</h5>
                        <p>{{data.taskDescription}}</p>

                        <p><span [ngClass]="{'redBadge': data.position === 'TeamLeader', 'orangeBadge': data.position === 'TeamMember' }"
                                class="badge">{{data.position}}</span> </p>
                        <p><span [ngClass]="{'redBadge': data.taskStatus=== 'Rejected', 'orangeBadge': data.taskStatus === 'Pending' }"
                                class="badge">{{data.taskStatus}}</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->





<!-- <div class="container mt-5 card text-bg-dark mb-3" style="max-width: 18rem;">
    <div class="card-header">Header</div>
    <div class="card-body">
        <h5 class="card-title">Dark card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
    </div>
</div> -->