<div class="container mt-5 mb-2" *ngIf="isEnable">
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#example">Create project
    </button>
</div>

<div class="container">
    <div class="accordion" id="accordionExample">
        <div class="accordion-item" *ngFor="let data of ProjectDetails; let i = index;">
            <h2 class="accordion-header" id="headingOne{{i}}">
                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                    attr.data-bs-target="#collapseOne{{i}}" aria-expanded="true" aria-controls="collapseOne">
                    {{ data[0].projectName }}
                </button>
            </h2>
            <div id="collapseOne{{i}}" [ngClass]="i==0? 'show':''" class="accordion-collapse collapse"
                attr.aria-labelledby="headingOne{{i}}" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <div class="container">
                        <div class="row row-cols-1 row-cols-md-3 py-4">
                            <div class="col" *ngFor="let data of ProjectDetails[i]; let q = index;">
                                <div class="card h-100">
                                    <div class="card-body">
                                        <div class="row" (click)="getProjectDetailsId(data.projectId)">
                                            {{data.projectTitle}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<div class="modal fade" id="example" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-white" id="exampleModalLabel">Create
                    Project
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="addProjectDetail">
                    <div class="mb-3">
                        <label class=" form-label">Project Name</label>
                        <select class="form-select" class="form-control" formControlName="projectName">
                            <option disabled selected value> -- select an option --
                            </option>
                            <option value="E-pub">E-pub</option>
                            <option value="XML">XML</option>
                            <option value="Table">Table</option>
                            <option value="SoftWare">SoftWare</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label class=" form-label">Project Title</label>
                        <input class="form-control" formControlName="projectTitle">
                    </div>
                    <div class="mb-3">
                        <label class=" form-label">Project Description</label>
                        <textarea class="form-control" formControlName="projectDescription"></textarea>
                    </div>
                    <div class="mb-3">
                        <button type="button" (click)="addProjectDetails(addProjectDetail.value)"
                            class="btn btn-primary mt-3">Create Project
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>