.card {
    border: none;
    // background-color: #C1EFFF;
    // border-radius: 15px;
    // box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}
.card-body {
    padding: 1.5rem;
}
.card-footer {
    // list-style: none;
    border: none !important;
    background-color: #fff !important;
}
.footerCard {
    font-weight: 700;
    color: #383838 !important;
}
.avatar-user {
    border-radius: 50% !important;
}
img {
    border-style: none;
}
.avatar {
    display: inline-block;
    overflow: hidden;
    line-height: 1;
    vertical-align: middle;
    background-color: var(--color-avatar-bg);
    border-radius: 6px;
    flex-shrink: 0;
    box-shadow: 0 0 0 1px var(--color-avatar-border);
}
.editbadge {
    background-color: rgba(125, 15, 236, 0.12) !important;
    color: rgba(30, 4, 57, 0.12) #fff !important;
    min-width: 100px;
    padding: 9px 12px;
    border-radius: 25px;
    letter-spacing: 0.5px;
    font-weight: 800;
}
// .editbadge:hover{
//     color: #fff !important;
//     background-color: rgba(37, 4, 69, 0.12) !important;

// }
.badge {
    background-color: rgba(45, 211, 111, 0.12);
    color: #28ba62;
    min-width: 100px;
    padding: 9px 12px;
    border-radius: 25px;
    letter-spacing: 0.5px;
    font-weight: 800;
}

.badge:hover {
    color: #fff !important;
    background-color: rgb(30, 2, 64) !important;
}

.redBadge {
    background-color: rgba(45, 211, 111, 0.12);
    color: #28ba62;
}

.redBadge:hover {
    color: #fff !important;
    background-color: grey !important;
}

.orangeBadge {
    background-color: rgba(255, 144, 119, 0.18) !important;
    color: #f80f0f !important;
}

.orangeBadge:hover {
    color: #fff !important;
    background-color: grey !important;
}
.scrollbar {
    height: 500px;
    overflow-y: scroll;
    // margin-top: 25px;
    // margin-bottom: 25px;
}
@media (max-width: 576px) {
    .scrollbar {
        height: auto;
        overflow: unset;
    }
}

#style-1::-webkit-scrollbar {
    width: 5px;
    background-color: #f5f5f5;
}

#style-1::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(2, 2, 2, 0.3);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #dde0e2;
}
.modal-header {
    // background: #8e2de2;
    // background: -webkit-linear-gradient(to left, #4f10cb, #8e2de2);
    // background: linear-gradient(to left, #4a00e0, #8e2de2);\
    background: darkblue !important;
}

.modal-content {
    border: none !important;
}

.modal {
    background-color: rgb(0, 0, 0, 0.6);
}

.closebutton {
    background-color: white;
    color: white !important;
}
label {
    font-weight: 800;
    color: #3c4ac8;
}

textarea {
    color: #a49e9e;
}
.modalbody {
    padding: 1rem;
}
.accordion-item {
    border: 1px solid #f3f1f5 !important;

    // box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    // border-radius: 10px;
    // border: none;
}
.accordion-item :focus {
    outline: 0 !important;

    // background-color: #f2f3f9;
    // color: #b299db;
    font-weight: 700;
    // box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
}
.accordion-button {
    // color: #636361;
    color: #fff;
    font-weight: 800;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}
.accordion-body {
    background-color: #e7f1ff;
}
input:focus {
    box-shadow: none;
    border: solid 1px #d2daff;
}
textarea:focus {
    box-shadow: none;
    border: solid 1px #d2daff;
}
select:focus {
    box-shadow: none;
    border: solid 1px #d2daff;
}
.badge1 {
    background-color: rgba(238, 238, 238, 0.7) !important;
    min-width: 100px;
}
