<div class="container-fluid">
    <div class="row mt-5 mb-5  bg-forrow">
        <ng-container *ngIf="oneEmployee">
            <div class="col-md-3 col-sm-6 mt-3" *ngFor="let data of isData" data-toggle="modal">
                <div class="card h-100">
                    <div class="row g-0">
                        <div class="col-4 col-md-12 col-sm-4 dflex align-items-center">
                            <div class="dflex pt-3 ">
                                <ngx-avatar size="96" [name]="data.firstName + ' ' + data.lastName"
                                    [src]="'https://localhost:44394/' + data.photoPath" class="card-img-top" alt="..."
                                    (click)="getEmployeeDetails(data)"></ngx-avatar>                                
                            </div>
                        </div>
                        <div class="col-8 col-md-12 col-sm-8">
                            <div class="card-body" style="padding: 2rem;">
                                <h5 class="card-title text-center mb-3">{{data.employeeId}} &nbsp;
                                    {{data.firstName}}&nbsp;{{data.lastName}}
                                </h5>
                                <p class="card-text text-center">{{data.number}}<br />
                                <p class="card-text text-center textCen text-black-50">{{data.designation}}
                                    <br />
                                    {{data.joiningDate | date:'dd-MM-yyyy'}}
                                </p>
                                <p class="card-text text-center textCen text-black-50"><b>{{data.emailId}}</b>
                                </p>
                                <!-- <button type="submit" class="btn btn-danger btn-sm w-100"
                                    (click)="leaveApplyOn(data.employeeId)">Apply Leave</button>

                                <button type="submit" class="btn btn-primary btn-sm mt-1 w-100"
                                    (click)="attendanceApplyOn(data.employeeId)">Apply Attendance</button> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
        <ng-container *ngIf="!oneEmployee">
            <div class="coverImage dflex">
                <img src="../../../../assets/bg8.jpg" class="img-9" alt="">
            </div>
            <div class="p-5">
                <h2 class="fw-bold">
                    Senior Product Designer
                </h2>
                <div class="row my-5">
                    <div class="col-md-4">
                        <p>Employee Id: &nbsp;&nbsp;<span class="fw-bold">{{ isData[0].employeeId }}</span></p>
                        <p>Mail Id: &nbsp;&nbsp;<span class="fw-bold">{{ isData[0].emailId }}</span></p>
                    </div>
                    <div class="col-md-4">
                        <p>Joining Date: &nbsp;&nbsp;<span class="fw-bold">{{ isData[0].joiningDate | date:'dd-MM-yyyy'
                                }}</span></p>
                        <p>Work Mode: &nbsp;&nbsp;<span class="fw-bold">{{ isData[0].workMode }}</span></p>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
</div>



<div class="modal" [style.display]="showModal ? 'block' : 'none'">
    <div class="modal-dialog">
        <div class="modal-content" [formGroup]="employeeDetail">
            <div class="modal-header">
                <h3 class="modal-title text-white"> EMPLOYEE DETAILS</h3>
                <button type="button" class="btn-close closebutton" (click)="showModal=false"></button>
            </div>
            <div class="modal-body scrollbar" id="style-1">
                <div class="row modalbody">
                    <div class="mb-3">
                        <label class=" form-label">First Name</label>
                        <input class="form-control" [ngModel]="employee?.employeeId" formControlName="employeeId">
                    </div>
                    <div class="mb-3">
                        <label class=" form-label">First Name</label>
                        <input class="form-control" [ngModel]="employee?.firstName" formControlName="firstName">
                    </div>
                    <div class="mb-3">
                        <label class=" form-label">Last Name</label>
                        <input class="form-control" [ngModel]="employee?.lastName" formControlName="lastName">
                    </div>
                    <div class="mb-3">
                        <label class=" form-label">Email Id</label>
                        <input class="form-control" [ngModel]="employee?.emailId" formControlName="emailId">
                    </div>
                    <div class="mb-3">
                        <label class=" form-label">Date Of Birth</label>
                        <input class="form-control" [ngModel]="employee?.dob" formControlName="dob">
                    </div>
                    <div class="mb-3">
                        <label class=" form-label">Number</label>
                        <input class="form-control" [ngModel]="employee?.number" formControlName="number">
                    </div>
                    <div class="mb-3">
                        <label class=" form-label">Date Of Joining</label>
                        <input class="form-control" [ngModel]="employee?.joiningDate" formControlName="joiningDate">
                    </div>
                    <div class="mb-3">
                        <label class=" form-label">Address</label>
                        <input class="form-control" [ngModel]="employee?.address" formControlName="address">
                    </div>
                    <div class="mb-3">
                        <label class=" form-label">Desigination</label>
                        <input class="form-control" [ngModel]="employee?.designation" formControlName="designation">
                    </div>
                    <div class="mb-3">
                        <label class=" form-label">Gender</label>
                        <input class="form-control" [ngModel]="employee?.gender" formControlName="gender">
                    </div>

                    <div class="mb-3">
                        <label class=" form-label">Download Attachment</label>
                        <app-attachment [attachmentId]="attachment"> </app-attachment>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" style="float: left;"
                    (click)="showModal=false">Cancel</button>
                <button type="button" class="btn btn-primary" style="float: right;"
                    (click)="updateEmployee(employeeDetail.value)">Update and
                    Save</button>
            </div>
        </div>
    </div>
</div>