.teamMembers,
.avatarLine {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

ngx-avatar {
    border: 1px solid #fff;
    margin-right: -16px;
}

.card-footer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.avatarLine {
    position: absolute;
    right: 10%;
}
.badge1 {
    background-color:   rgba(238, 238, 238, 0.7) !important;
    min-width: 60px;
}
.bgAzure {
    background-color: azure;
    overflow-x: hidden;
}
.taskTitle {
    background-color: #fff;
    border-bottom: 3px solid #000;
}