<section class="projectOverview">
    <div class="container-fluid">
        <!-- project details upper card starts -->
        <div class="row p-5 shadow-lg">
            <div class="col-md-12">
                <p class="mb-1 card-subtitle text-muted"><small>{{ projectdetails.startDate | date
                        :'MMM d'}} - {{projectdetails.endDate | date :'MMM d'}}</small></p>
                <h4 class="fw-bold" (click)="getProjectClick(projectdetails)">{{ projectdetails.projectTitle }}
                    &nbsp;&nbsp;&nbsp; <span class="badge fw-semobold" style="font-size: 13px;"
                        [ngClass]="{'orangeBadge' : projectdetails.projectStatus === 'InProgress' }">{{
                        projectdetails.projectStatus
                        }}</span></h4>
                <div class="d-flex mb-4 justify-content-between">
                    <div>
                        <p class="mb-2 card-subtitle text-muted">Due in {{projectdetails.dueDate}} days</p>
                        <p class="m-0"><span class="badge badge1 text-success shadow-sm"
                                [ngClass]="{'text-warning': projectdetails.priority === 'High', 'text-primary': projectdetails.priority === 'low'}">{{projectdetails.priority}}</span>
                        </p>
                    </div>
                    <div>
                        <p class="m-0">Team</p>
                        <div class="teamMembers">
                            <ngx-avatar *ngFor='let data of employeelist | slice:0:4' borderColor="#fff" size="35"
                                [name]="data.firstName + ' ' + data.lastName" [src]="baseUrl + data.photoPath">
                            </ngx-avatar>
                            <ngx-avatar size="30" *ngIf="teamOverflow" [name]="'+ ' + count" bgColor="#c0c0c0"
                                alt="...">
                            </ngx-avatar>
                            <ngx-avatar *ngIf="roleForRestrict" [textSizeRatio]="2" class="ms-4" size="40" type="button"
                                (click)="getEmployeeName(projectdetails.projectId)" name="+" data-bs-toggle="modal"
                                data-bs-target="#ISexampleModal" bgColor="#1919f4" alt="...">
                            </ngx-avatar>
                        </div>
                    </div>
                </div>
                <h6 class="fw-bold">Description</h6>
                <p>{{projectdetails.projectDescription}}</p>
                <button *ngIf="roleForRestrict" class="btn position-absolute end-0 buttondanger" style="border: none;"
                    type="submit" (click)="IsArchieved()"><i class="fa fa-archive" style="color: red;"
                        aria-hidden="true"></i></button>
                <button *ngIf="roleForRestrict" class="btn btn-primary mt-2 mb-2 rounded-pill" data-bs-toggle="modal"
                    data-bs-target="#exampleModal1" (click)="getData(employeelist)">Assign Task</button>
                <br />
            </div>
        </div>
        <!-- project details upper card ends -->


        <div class="row bgAzure g-4 py-4">
            <div *ngIf="taskdetails?.length == 0" class="text-center container">
                No Task Found
            </div>
            <div class="col-md-4" *ngFor="let data of taskdetails; let i = index;">
                <div class="taskTitle border-primary p-3 mb-4">
                    <h5 [ngClass]="{'border-primary': data[0].taskStatus == 'InProgress', 'border-success' : data[0].taskStatus === 'Completed' }"
                        class="fw-bold text-dark">
                        {{data[0]?.taskStatus}}
                    </h5>
                </div>
                <div class="row g-2">
                    <div class="col-md-12" *ngFor="let data of taskdetails[i]; let p = index;">
                        <div class="card border-0 rounded-3 shadow">
                            <div class="card-body p-4">
                                <div class="mb-3" style="float: right;">
                                    <!-- <span class="badge"  > Move to Archive</span> -->
                                    <button *ngIf="roleForRestrict" type="submit" class="btn" style="border: none;"
                                        (click)="IsTaskArchieved()"><i class="fa fa-archive" style="color: red;"
                                            aria-hidden="true"></i></button>
                                </div>
                                <p class="mb-1 card-subtitle text-muted text-uppercase"> <small>{{ data?.startDate |
                                        date:'MMM d'}} - {{data?.endDate | date :'MMM d'}}</small>
                                </p>
                                <p class="mb-1 card-subtitle text-muted"> <small> </small></p>
                                <h5 class="card-title fw-bold mb-3 cursorP" (click)="getTaskClick(data)"
                                    data-bs-toggle="modal" data-bs-target="#exampleModal">{{
                                    data.taskName }}
                                </h5>
                                <div>
                                    <p class="m-0"><span class="badge badge1 shadow-sm text-success float-end"
                                            [ngClass]="{'text-warning': data.priority === 'High', 'text-primary': data.priority === 'low'}">{{data.priority}}</span>
                                    </p>
                                    <p class="mb-3 card-subtitle text-muted">{{data.dueDate}} Day</p>
                                </div>
                                <p class="card-text">{{ data.taskDescription }}</p>
                            </div>
                            <div class="card-footer border-0 bg-transparent py-3">
                                <span class="badge"
                                    [ngClass]="{'redBadge': data.taskStatus === 'InProgress', 'orangeBadge' : data.taskStatus === 'TODO' }">{{
                                    data.taskStatus }}</span>
                                <div class="avatarLine">
                                    <ngx-avatar borderColor="#fff" size="30"
                                        name="{{data.firstName +' '+ data.lastName}}" alt="...">
                                    </ngx-avatar>
                                </div>
                            </div>
                        </div>

                        <!-- **************************************** -->
                        <!-- Edit Project Details Modal -->
                        <!-- **************************************** -->
                        <!-- <div class="modal" [style.display]="showModal ? 'block' : 'none'" [formGroup]="updateForm">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h3 class="modal-title text-white"> Project Details</h3>
                                        <button type="button" class="btn-close closebutton"
                                            (click)="showModal=false"></button>
                                    </div>
                                    <div class="modal-body scrollbar" id="style-1">
                                        <div class="row modalbody">
                                            <div class="mb-3">
                                                <label class=" form-label">Project Id</label>
                                                <input class="form-control" [ngModel]="isProjectdata?.projectId"
                                                    formControlName="projectId">
                                            </div>
                                            <div class="mb-3">
                                                <label class=" form-label">Project AssiginId</label>
                                                <input class="form-control" [ngModel]="isProjectdata?.assiginedId"
                                                    formControlName="assiginedId">
                                                <div class="mb-3">
                                                    <label class=" form-label">Project Title</label>
                                                    <input class="form-control" [ngModel]="isProjectdata?.projectTitle"
                                                        formControlName="projectTitle">
                                                </div>
                                                <div class="mb-3">
                                                    <label class=" form-label">Project Name</label>
                                                    <input class="form-control" [ngModel]="isProjectdata?.projectName"
                                                        formControlName="projectName">
                                                </div>
                                                <div class="mb-3">
                                                    <label class=" form-label">Project Description</label>
                                                    <textarea class="form-control" style="height: 10rem;"
                                                        [ngModel]="isProjectdata?.projectDescription"
                                                        formControlName="projectDescription"></textarea>
                                                </div>
                                                <div class="mb-3">
                                                    <label class=" form-label">Project StartDate</label>
                                                    <input class="form-control" [ngModel]="isProjectdata?.startDate"
                                                        formControlName="startDate">
                                                </div>
                                                <div class="mb-3">
                                                    <label class=" form-label">Project CreateBy</label>
                                                    <input class="form-control" [ngModel]="isProjectdata?.createdBy"
                                                        formControlName="createdBy">
                                                </div>
                                                <div class="mb-3">
                                                    <label class=" form-label">Project EndDate</label>
                                                    <input type="date" class="form-control"
                                                        [ngModel]="isProjectdata?.endDate" formControlName="endDate">
                                                </div>
                                                <div class="mb-3">
                                                    <label class=" form-label">Project Status</label>
                                                    <select class="form-select" class="form-control"
                                                        [ngModel]="isProjectdata?.projectStatus"
                                                        formControlName="projectStatus">
                                                        <option value="Completed">Completed</option>
                                                        <option value="Rejected">Rejected</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                (click)="showModal=false">Close</button>
                                            <button type="button" class="btn btn-primary"
                                                (click)="updateProject(updateForm.value)">Save changes</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> -->

                        <!-- **************************************** -->
                        <!-- Edit Task Details Modal -->
                        <!-- **************************************** -->
                        <div class="modal" [formGroup]="updateTaskDetails" id="exampleModal" tabindex="-1"
                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h3 class="modal-title text-white"> Task Details</h3>
                                        <button type="button" data-bs-dismiss="modal" class="btn-close closebutton"
                                            (click)="isshowModal=false"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row modalbody">
                                            <div class="mb-3">
                                                <label class=" form-label">Task Id</label>
                                                <input [disabled]="true" class="form-control"
                                                    [ngModel]="isTaskData?.taskId" formControlName="taskId">
                                            </div>
                                            <div class="mb-3">
                                                <label class=" form-label">Project Id</label>
                                                <input class="form-control" [ngModel]="isTaskData?.projectId"
                                                    formControlName="projectId">
                                            </div>
                                            <div class="mb-3">
                                                <label class=" form-label">Employee Id</label>
                                                <input class="form-control" [ngModel]="isTaskData?.employeeId"
                                                    formControlName="employeeId">
                                            </div>
                                            <div class="mb-3">
                                                <label class=" form-label">Task Name</label>
                                                <input class="form-control" [ngModel]="isTaskData?.taskName"
                                                    formControlName="taskName">
                                            </div>
                                            <div class="mb-3">
                                                <label class=" form-label">Task Description</label>
                                                <input class="form-control" style="height: 5rem;"
                                                    [ngModel]="isTaskData?.taskDescription"
                                                    formControlName="taskDescription">
                                            </div>
                                            <div class="mb-3">
                                                <label class=" form-label">Priority</label>
                                                <input class="form-control" [ngModel]="isTaskData?.priority"
                                                    formControlName="priority">
                                            </div>
                                            <div class="mb-3">
                                                <label class=" form-label">Start Date</label>
                                                <input class="form-control" type="date"
                                                    [ngModel]="isTaskData?.startDate|date:'yyyy-MM-dd'"
                                                    (ngModelChange)="isTaskData?.startDate" formControlName="startDate">
                                            </div>
                                            <div class="mb-3">
                                                <label class=" form-label">End Date</label>
                                                <input class="form-control" type="date"
                                                    [ngModel]="isTaskData?.endDate|date:'yyyy-MM-dd'"
                                                    (ngModelChange)="isTaskData?.endDate" formControlName="endDate">
                                            </div>
                                            <div class="mb-3">
                                                <label class=" form-label">Task Status</label>
                                                <select class="form-select" class="form-control"
                                                    [ngModel]="isTaskData?.taskStatus" formControlName="taskStatus">
                                                    <!-- <option disabled selected value> -- select an option --
                                                    </option> -->
                                                    <option value="TODO">TODO</option>
                                                    <option value="Completed">Completed</option>
                                                    <option value="InProgress">InProgress</option>
                                                </select>
                                            </div>
                                            <div class="mb-3" style="display: none;">
                                                <label class=" form-label">Assigind Id</label>
                                                <input class="form-control" [ngModel]="isTaskData?.assigingId"
                                                    formControlName="assigingId">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" #UpdatetaskModal data-bs-dismiss="modal"
                                            class="btn btn-secondary">Close</button>
                                        <button type="button" class="btn btn-primary"
                                            (click)="UpdateTaskDetails(updateTaskDetails.value)">Save changes</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- ***************************************** -->
<!-- add people to project modal -->
<!-- ***************************************** -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-white" id="exampleModalLabel">List of Employees</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="scrollbar" id="style-1">
                <div class="row dflex">
                </div>
                <div style="padding: 20px;">
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12 dflex justify-content-between" *ngFor="let data of employeName">
                                <div>
                                    <ngx-avatar size="30" [style]="customStyle"
                                        [name]="data.firstName + ' ' + data.lastName" [src]="baseUrl + data.photoPath"
                                        alt="...">
                                    </ngx-avatar>
                                </div>
                                <p class="m-0">{{data.firstName}}&nbsp;{{data.lastName}}</p>
                                <h6><span class="badge" (click)="getEmployeId(data.employeeId)" data-bs-toggle="modal"
                                        data-bs-target="#exampleModal1"> Add To The
                                        Task</span></h6>
                                <!-- <button class="btn btn-primary"> Add </button> -->
                            </div>
                        </div>
                        <!-- <div class="row g-0 dflex">
            <div class="col-2 dflex">
                <div class="me-2">
                    <ngx-avatar size="40" [style]="customStyle"
                        [name]="data.firstName + ' ' + data.lastName"
                        [src]="'https://localhost:44394/' + data.photoPath" class="card-img-top" alt="...">
                    </ngx-avatar>
                </div>
            </div>
            <div class="col-8 text-muted" (click)="getEmployeId(data.employeeId)" data-bs-toggle="modal"
                data-bs-target="#exampleModal1">
                <b>{{data.firstName}}&nbsp;{{data.lastName}}
                </b>
            </div>
        </div> -->


                        <!-- 
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-6">
                        {{data.firstName}} {{data.lastName}}

                    </div>
                    <div class="col-3">
                        {{data.teamName}} 
                    </div>
                    <div class="col-3">
                        <button type="button" class="btn btn-primary"
                            (click)="getEmployeId(data.employeeId)" data-bs-toggle="modal"
                            data-bs-target="#exampleModal1">
                            <i class="fa-sharp fa-solid fa-plus"></i></button>
                    </div>
                </div>
            </div>

        </div> -->
                    </div>
                </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>





<div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-white" id="exampleModalLabel">Add Task
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form [formGroup]="addTaskDetail">
                <div class="modal-body">
                    <div class="mb-3">
                        <label class=" form-label">Assigned To</label>
                        <select class="form-select" class="form-control" formControlName="employeeId">
                            <option *ngFor="let item of employeelist" [value]="item.employeeId">{{item.firstName}}
                                {{item.lastName}}</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label class=" form-label">Task Name</label>
                        <input type="email" class="form-control" formControlName="taskName">
                    </div>
                    <div class="mb-3">
                        <label class=" form-label">Task Description</label>
                        <textarea class="form-control" formControlName="taskDescription"></textarea>
                    </div>
                    <div class="mb-3">
                        <label class=" form-label">Start Date</label>
                        <input type="date" class="form-control" formControlName="StartDate">
                    </div>
                    <div class="mb-3">
                        <label class=" form-label">End Date</label>
                        <input type="date" class="form-control" formControlName="EndDate">
                    </div>
                    <div class="mb-3">
                        <label class=" form-label">Priority</label>
                        <select class="form-select" class="form-control" formControlName="Priority">
                            <option disabled selected value> -- select an option -- </option>
                            <option value="Low">Low</option>
                            <option value="Medium">Medium</option>
                            <option value="High">High</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" #closeModal data-bs-dismiss="modal">Close</button>
                    <button type="button" (click)="addTaskDetails(addTaskDetail.value)" class="btn btn-primary">Create
                        Task
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>


<div>
    <div class="modal fade" id="ISexampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-white" id="exampleModalLabel">List of Employees</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <!-- <div class="scrollbar" id="style-1"> -->
                <div class="modal-body p-0">
                    <table class="table-borderless my-4 table align-middle">
                        <tbody>
                            <tr *ngFor="let data of employeName">
                                <td>
                                    <div class="form-check ps-0 d-flex">
                                        <ngx-avatar size="30" class="ms-4" [style]="customStyle"
                                            [name]="data.firstName + ' ' + data.lastName"
                                            [src]="baseUrl + data.photoPath" alt="...">
                                        </ngx-avatar>
                                        <label for="hh"
                                            class="form-check-label ms-3 mt-1">{{data.firstName}}&nbsp;{{data.lastName}}</label>
                                    </div>
                                </td>
                                <td>
                                    <input type="checkbox" name="checkbox" id="checkbox_id" value="value"
                                        (click)="selectEmployeeIds(data.employeeId)">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer border-0">
                    <button type="button" class="btn btn-secondary" #AddTeamModal data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" (click)="IsSelectEmployee()">
                        Add peoples to project
                    </button>
                </div>
                <!-- </div> -->
            </div>
        </div>
    </div>
</div>